.header{
    height: 150px;
    margin-top: 30px;
    padding-left: 50px; padding-right: 50px;
    text-align: center;
    background-color: white;
}
#login-btn{
    float: right;
    text-align: center;
    background: none;
    border: 0; outline: 0; border: none;
}
img{
    width: 250px;
}

