.container{
    margin-top: 50px;
    padding-left: 50px; padding-right: 50px;
    /*border: 3px solid #FC8C8C;*/
    min-height: 750px;
}
.map_wrap{
    /*border: 3px solid seagreen;*/
    width: 60%; min-height: 700px;
    float: left;
}
.choice_wrap{
    border: 5px solid skyblue;
    border-radius: 4px;
    width: 37%; min-height: 700px;
    float: right;
}
p{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.requirements{
    padding: 10px;
    padding-right: 20px; padding-left: 20px;
    font-size: 15px;
}

.area {
    position: absolute;
    background: #fff;
    border: 1px solid #888;
    border-radius: 3px;
    font-size: 12px;
    top: -5px;
    left: 15px;
    padding:2px;
}

.info {
    font-size: 12px;
    padding: 5px;
}
.info .title {
    font-weight: bold;
}