<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>정류장 정보 추출하기</title>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3307bbc0407ac229de9a6bffbd700bed&libraries=services"></script>
</head>
<body>
<div id="map" style="width:500px;height:400px;"></div>
<button type="button" onclick="bring_hdong();">좌표 -> 행정동 변환</button>
<span id="centerAddr"></span>
<script>
    var container = document.getElementById('map');
    var options = {
        center: new kakao.maps.LatLng(37.566826, 126.9786567),
        level: 3
    };

    var map = new kakao.maps.Map(container, options);
</script>
<script>
    function bring_hdong(x,y){
        var geocoder = new kakao.maps.services.Geocoder();
        geocoder.coord2RegionCode(x, y, displayCenterInfo);
    }
    // 지도 좌측상단에 지도 중심좌표에 대한 주소정보를 표출하는 함수입니다
    function displayCenterInfo(result, status) {
        if (status === kakao.maps.services.Status.OK) {
            var infoDiv = document.getElementById('centerAddr');

            for(var i = 0; i < result.length; i++) {
                // 행정동의 region_type 값은 'H' 이므로
                if (result[i].region_type === 'H') {
                    infoDiv.innerHTML = result[i].region_3depth_name;
                    document.write('<form action="/bring" id="bring_form" method="post">' +
                        '<input type="hidden" name="h_dong" value="'+ result[i].region_3depth_name +'">' +
                        '</form>');
                    document.getElementById("bring_form").submit();
                    break;
                }
            }
        }
    }
</script>
</body>
</html>