<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>정류장 정보 추출하기</title>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3307bbc0407ac229de9a6bffbd700bed&libraries=services"></script>
    <script type="text/javascript" src="/js/map.js"></script>
    <script>
        function bringInfo(x,y,cnt) {
            var geocoder = new kakao.maps.services.Geocoder();

            var callback = function (result, status) {
                if (status === kakao.maps.services.Status.OK) {
                    for(var i = 0; i < result.length; i++) {
                        // 행정동의 region_type 값은 'H' 이므로
                        if (result[i].region_type === 'H') {
                            //console.log(result[i].region_3depth_name);
                            document.getElementById(cnt).innerHTML = result[i].region_3depth_name;
                            break;
                        }
                    }
                }
            };
            geocoder.coord2RegionCode(x, y, callback);
        }
    </script>
</head>
<body>
    <h3>행정동 정보 가져오기</h3>
    <script th:inline="javascript">
        let cnt=1;
        /*<![CDATA[*/
        var busList = /*[[ ${busList} ]]*/;
        /*]]*/

        busList.forEach(function (i) {
            document.write('<p>정류장이름: ' +i.name+' </p>' +
                '<p id="'+cnt+'"></p>'+
                '<button type="button" onclick="bringInfo('+i.x+','+i.y+','+cnt+');">변환</button>' +
                '<br>');
            cnt++;
        });

    </script>
</body>
</html>