<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>FindMyself 로그인</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
</head>
<body>
<div class="header">
    <div class="logo-wrap">
        <a th:href="@{/main}">
            <img src="/image/logo4.png">
        </a>
    </div>
</div>
<div class="container">
    <div id="login-wrap">
        <h2>Login</h2>
        <br><br><br>
        <h3>간편하게 로그인하고</h3>
        <h3>나혼자 찾는다의 서비스를 이용해보세요.</h3>
        <a id="kakao-login-btn" href="https://kauth.kakao.com/oauth/authorize?client_id=ac10321dd65139494e4aaa45ff35d52d&redirect_uri=http://localhost:8080/login/oauth&response_type=code">
            <img id="kakao-login-img" src="/image/kakao-login.png">
        </a>
    </div>
</div>
<div class="copyright">
    Copyright © by FindMyself 2021, Inc. All rights reserved
</div>
</body>
</html>