<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- CSS Files -->
    <link href="/css/analysis/argon-dashboard.css?" rel="stylesheet" />
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/range.css">
    <link rel="stylesheet" href="/css/icheck-bootstrap.css">
    <link rel="stylesheet" href="/css/toggle-radios.css">
    <link rel="stylesheet" href="/css/input.css">
    <title>나혼자 찾는다</title>
    <script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=b7fc83b99b816527f18b3bf2bce8208e&libraries=services"></script>
    <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xx054e772885bf4fd6bff6bbf96c1884af"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="/js/map.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script> <!--다음 도로명 주소 api -->
    <script type="text/javascript" src="/js/requirements.js"></script>
    <script type="text/javascript" src="/js/slider.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
</head>
<body>
    <div class="loading" id="loading" style='display: none'>
        <img style="padding-top: 100px" src="/image/logo4.png">
        <h4 style="padding-top: 15px">설정값을 기반으로 적합한 주거지를 찾고 있습니다.</h4>
        <img style="padding-top: 15px" src="/image/loading.gif">
    </div>
    <div class="loading" id="loading2" style='display: none'>
        <img style="padding-top: 100px" src="/image/logo4.png">
        <h4 style="padding-top: 15px">해당 동네를 분석 중입니다.</h4>
        <img style="padding-top: 15px" src="/image/loading.gif">
    </div>
    <div class="header">
        <button name="login-btn" id="login-btn" onclick="click_login_btn();">
            <h3 id="login-btn-text">로그인</h3>
        </button>
        <div class="logo-wrap">
            <a th:href="@{/main}">
                <img src="/image/logo4.png">
            </a>
        </div>
    </div>
    <div class="container">
        <div class="map_wrap">
<!--        메인 지도-->
            <div id="map" style="width: 100%; height: 700px;position:relative; overflow:hidden; border-radius: 4px" >
                <div id="top_wrap">
                    <div id="top_info">
                        <h4>매칭률 TOP 5</h4>
                        <ul>
                            <li>
                                <b>1위</b><br>
                                <a id="top1" href="#"></a>
                            </li>
                            <li>
                                <b>2위</b><br>
                                <a id="top2" href="#"></a>
                            </li>
                            <li>
                                <b>3위</b><br>
                                <a id="top3" href="#"></a>
                            </li>
                            <li>
                                <b>4위</b><br>
                                <a id="top4" href="#"></a>
                            </li>
                            <li>
                                <b>5위</b><br>
                                <a id="top5" href="#"></a>
                            </li>
                        </ul>
                    </div>
                    <div id="top_btn_wrap">
                        <input type="button" id="top_btn" value="<" onclick="moveTopWrap();"/>
                    </div>
                </div>
                <script th:inline="javascript">
                    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                        mapOption = {
                            center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
                            level: 9 // 지도의 확대 레벨
                        };

                    var map = new kakao.maps.Map(mapContainer, mapOption),
                        customOverlay = new kakao.maps.CustomOverlay({});

                    // 서울 전체 지도
                    DrawPolygon();

                    /*<![CDATA[*/
                    var codeList = /*[[ ${codeList} ]]*/;
                    var topInfoList = /*[[ ${topInfoList} ]]*/;
                    var userId = /*[[ ${session.id} ]]*/;
                    var address = /*[[ ${rq.address} ]]*/;

                    if(codeList != null && userId != null) {    //추천 행정동 리스트, 유저 아이디 있는 경우에만 로드
                        codeList.forEach(function(code) {
                            if(topInfoList[0].h_code == code){
                                Draw_HangJungDong(code, /*[[ ${rq.address} ]]*/, "#0A3C7A", userId);
                            }else if(topInfoList[1].h_code == code){
                                Draw_HangJungDong(code, /*[[ ${rq.address} ]]*/, "#115493", userId);
                            }else if(topInfoList[2].h_code == code){
                                Draw_HangJungDong(code, /*[[ ${rq.address} ]]*/, "#1C75B7", userId);
                            }else if(topInfoList[3].h_code == code){
                                Draw_HangJungDong(code, /*[[ ${rq.address} ]]*/, "#289CDB", userId);
                            }else if(topInfoList[4].h_code == code){
                                Draw_HangJungDong(code, /*[[ ${rq.address} ]]*/, "#38C6FF", userId);
                            }else if(topInfoList[5].h_code == code){
                                Draw_HangJungDong(code, /*[[ ${rq.address} ]]*/, "#69DEFF", userId);
                            }else if(topInfoList[6].h_code == code){
                                Draw_HangJungDong(code, /*[[ ${rq.address} ]]*/, "#87EDFF", userId);
                            }else if(topInfoList[7].h_code == code){
                                Draw_HangJungDong(code, /*[[ ${rq.address} ]]*/, "#AFF8FF", userId);
                            }else if(topInfoList[8].h_code == code){
                                Draw_HangJungDong(code, /*[[ ${rq.address} ]]*/, "#D7FEFF", userId);
                            }else if(topInfoList[9].h_code == code){
                                Draw_HangJungDong(code, /*[[ ${rq.address} ]]*/, "#c1d3d4", userId);
                            }else{
                                Draw_HangJungDong(code, /*[[ ${rq.address} ]]*/, "#d7dae0", userId);
                            }
                        });
                    }
                    /*]]*/
                    function moveTopWrap(){ //매칭률 top5 리스트 펼치기,닫기
                        var top_info = document.getElementById("top_info");
                        var top_btn = document.getElementById("top_btn");
                        var top_btn_wrap = document.getElementById("top_btn_wrap");
                        if(top_info.style.display == "none"){   //닫힌 경우 -> 펼치기(보이게 하기)
                            top_info.style.display="inline-block";
                            top_btn_wrap.style.float="right";
                            top_btn.value="<";
                        }else{
                            top_info.style.display="none";
                            top_btn_wrap.style.float="left";
                            top_btn.value=">";
                        }
                    }
                </script>
            </div>
            <br>
<!--        군집 지도(mapno=1)-->
            <div class="card bg-gradient-default shadow" id="cluster-map">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">카테고리별</h6>
                            <h2 class="text-darker mb-0">군집 분석 결과</h2>
                        </div>
                        <div class="col">
                            <ul class="nav nav-pills justify-content-end">
                                <li class="nav-item">
                                    <button class="btn btn-sm btn-primary" id="btn_select" onclick="home_clustering(cluster_charter,cluster_monthly,userId,address);"
                                            style="font-size: 14px">예산</button>
                                </li>
                                <li class="nav-item">
                                    <button class="btn btn-sm btn-primary" id="btn_select2" onclick="Clustering_HangJungDong(2,cluster_traffic,userId,address);"
                                            style="font-size: 14px">교통</button>
                                </li>
                                <li class="nav-item">
                                    <button class="btn btn-sm btn-primary" id="btn_select3" onclick="Clustering_HangJungDong(3,cluster_convenient,userId,address);"
                                            style="font-size: 14px">편의시설</button>
                                </li>
                                <li class="nav-item">
                                    <button class="btn btn-sm btn-primary" id="btn_select4" onclick="Clustering_HangJungDong(4,cluster_safety,userId,address);"
                                            style="font-size: 14px">안전</button>
                                </li>
                                <li class="nav-item">
                                    <button class="btn btn-sm btn-primary" id="btn_select5" onclick="Clustering_HangJungDong(5,genderClustering_for_map,userId,address);"
                                            style="font-size: 14px">성비</button>
                                </li>
                                <li class="nav-item">
                                    <button class="btn btn-sm btn-primary" id="btn_select6" onclick="Clustering_HangJungDong(6,cluster_age,userId,address);"
                                            style="font-size: 14px">나이</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="map1" style="height:500px;position:relative;overflow:inherit; border-radius: 10px">
                        <script th:inline="javascript">
                            var mapContainer = document.getElementById('map1'), // 지도를 표시할 div
                                mapOption = {
                                    center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
                                    level: 9 // 지도의 확대 레벨
                                };

                            // 맵 초기화
                            var map1 = new kakao.maps.Map(mapContainer, mapOption),
                                customOverlay = new kakao.maps.CustomOverlay({}),
                                customOverlay1 = new kakao.maps.CustomOverlay({});

                            // 서울 전체 지도
                            DrawPolygon(1);

                            /*<![CDATA[*/
                            var cluster_traffic = /*[[ ${trafficClustering} ]]*/;
                            var cluster_safety = /*[[ ${safetyClustering} ]]*/;
                            var cluster_charter = /*[[ ${charterClustering} ]]*/;
                            var cluster_monthly = /*[[ ${monthlyClustering} ]]*/;
                            var cluster_convenient = /*[[ ${convenientClustering} ]]*/;
                            var genderClustering_for_map = /*[[ ${genderClustering_for_map} ]]*/;
                            //이건뭐임??
                            var cluster_gender = /*[[ ${genderClustering} ]]*/;
                            var cluster_age = /*[[ ${ageClustering} ]]*/;


                            var userId = /*[[ ${session.id} ]]*/;
                            /*]]*/
                        </script>
                    </div><br>
                </div>
            </div>
        </div>
<!--        사용자 설정 부분-->
        <div class="choice_wrap">
            <form name="choice_form" action="/find.do" th:object="${rq}" method="post" onsubmit="return check();">
                <div class="requirements" id="budget1">
                    <p>예산</p>
                    <span class="radio icheck-info">
                        <input type="radio" id="info1" name="home-type" value="charter"
                               onclick='hideMonthly()' th:checked="${#strings.equals(rq.home_type, 'charter')}">
                        <label for="info1">전세</label>
                    <span class="radio icheck-info">
                        <input type="radio" id="info2" name="home-type" value="monthly"
                               onclick='showMonthly()' th:checked="${#strings.equals(rq.home_type, 'monthly')}">
                        <label for="info2">월세</label><br><br>
                    </span>
                    <div id="depoist_wrap">
                        <div class="input_container">
                            <div class="text-input">
                                <input id="deposit_value" type="text" th:field="*{deposit}" placeholder="만원">
                                <label for="deposit_value">보증금(만원)</label>
                            </div>
                        </div>

                        <div class="range_container">
                            <div class="slider-ui color">
                                <input type="range" min="0" max="20000" step="100" th:field="*{deposit}"
                                       oninput="document.getElementById('deposit_value').value=this.value;">
                                <div class="bar">
                                    <span class="min">0</span>
                                    <span class="max">20000</span>
                                </div>
                                <div class="track">
                                    <div class="value" th:text="*{deposit}"></div>
                                </div>
                            </div>
                        </div>
                    </div><br>
                    <div id="monthly_wrap">
                        <div class="input_container">
                            <div class="text-input">
                                <input id="monthly_value" type="text" th:field="*{monthly}" placeholder="만원">
                                <label for="monthly_value">월세(만원)</label>
                            </div>
                        </div>
                        <div class="range_container">
                            <div class="slider-ui color">
                                <input type="range" min="0" max="700" step="10" th:field="*{monthly}"
                                       oninput="document.getElementById('monthly_value').value=this.value;">
                                <div class="bar">
                                    <span class="min">0</span>
                                    <span class="max">700</span>
                                </div>
                                <div class="track">
                                    <div class="value" th:text="*{monthly}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="requirements" id="traffic">
                    <p>교통</p>
                    <div class="input_container">
                        <div class="text-input">
                            <input id="school_company" type="text" th:field="*{address}">
                            <label for="school_company">학교/직장</label>
                        </div>
                        <input class="button" type="button" value="찾기" onclick="findAddress();"><br><br>
                    </div>
                    <div class="range_container">
                        <div class="slider-ui color">
                            <input type="range" min="0" max="100" step="10"th:field="*{traffic}">
                            <div class="bar">
                                <span class="min">0</span>
                                <span class="max">100</span>
                            </div>
                            <div class="track">
                                <div class="value" th:text="*{traffic}"></div>
                            </div>
                        </div>
                    </div>
                </div><br>
                <div class="requirements" id="convenient">
                    <p>편의시설</p>
                    <div class="range_container">
                        <div class="slider-ui color">
                            <input id="total" type="range" min="0" max="100" step="1" th:field="*{convenient.total}"
                                   oninput="divideValue(this.value);">
                            <div class="bar">
                                <span class="min">0</span>
                                <span class="max">100</span>
                            </div>
                            <div class="track">
                                <div class="value" id="total_value" th:text="*{convenient.total}"></div>
                            </div>
                        </div>
                    </div><br>
                    <button type="button" id="detail_btn" onclick="click_detail_btn();">
                        <img id="detail_btn_img" src="/image/open.png" style="width: 25px; height: 25px">
                    </button>
                </div>
                <div class="convenient_detail"  id="convenient_detail" style="display: none">
                    <div class="convenient_detail_more">
                        오락
                        <div class="range_container">
                            <div class="slider-ui color">
                                <input id="joy" type="range" min="0" max="100" step="1" th:field="*{convenient.joy}">
                                <div class="bar">
                                    <span class="min">0</span>
                                    <span class="max">100</span>
                                </div>
                                <div class="track">
                                    <div class="value" id="joy_value" th:text="*{convenient.joy}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="convenient_detail_more">
                        생활서비스
                        <div class="range_container">
                            <div class="slider-ui color">
                                <input id="life" type="range" min="0" max="100" step="1" th:field="*{convenient.life}">
                                <div class="bar">
                                    <span class="min">0</span>
                                    <span class="max">100</span>
                                </div>
                                <div class="track">
                                    <div class="value" id="life_value" th:text="*{convenient.life}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="convenient_detail_more">
                        소매
                        <div class="range_container">
                            <div class="slider-ui color">
                                <input id="shop" type="range" min="0" max="100" step="1" th:field="*{convenient.shop}">
                                <div class="bar">
                                    <span class="min">0</span>
                                    <span class="max">100</span>
                                </div>
                                <div class="track">
                                    <div class="value" id="shop_value" th:text="*{convenient.shop}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="convenient_detail_more">
                        스포츠
                        <div class="range_container">
                            <div class="slider-ui color">
                                <input id="sport" type="range" min="0" max="100" step="1" th:field="*{convenient.sport}">
                                <div class="bar">
                                    <span class="min">0</span>
                                    <span class="max">100</span>
                                </div>
                                <div class="track">
                                    <div class="value" id="sport_value" th:text="*{convenient.sport}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="convenient_detail_more">
                        음식
                        <div class="range_container">
                            <div class="slider-ui color">
                                <input id="food" type="range" min="0" max="100" step="1" th:field="*{convenient.food}">
                                <div class="bar">
                                    <span class="min">0</span>
                                    <span class="max">100</span>
                                </div>
                                <div class="track">
                                    <div class="value" id="food_value" th:text="*{convenient.food}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="convenient_detail_more">
                        교육
                        <div class="range_container">
                            <div class="slider-ui color">
                                <input id="edu" type="range" min="0" max="100" step="1" th:field="*{convenient.edu}">
                                <div class="bar">
                                    <span class="min">0</span>
                                    <span class="max">100</span>
                                </div>
                                <div class="track">
                                    <div class="value" id="edu_value" th:text="*{convenient.edu}"></div>
                                </div>
                            </div>
                        </div>
                    </div><br><br>
                    <a href='javascript:void(0);' onclick="mergeValues();">적용</a>
                </div>
                <div class="requirements" id="safety">
                    <p>안전</p>
                    <div class="range_container">
                        <div class="slider-ui color">
                            <input type="range" min="0" max="100" step="10" th:field="*{safety}">
                            <div class="bar">
                                <span class="min">0</span>
                                <span class="max">100</span>
                            </div>
                            <div class="track">
                                <div class="value" th:text="*{safety}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="requirements" id="environment">
                    <p>주변환경</p>
                    <div>
                        <div id="girl">　여</div>
                        <div id="boy">남　</div>
                    </div>
                    <br>
                    <div class="range_container">
                        <div class="slider-ui color">
                            <input type="range" min="0" max="100" step="10" th:field="*{sex_ratio}">
                            <div class="bar">
                                <span class="min">0</span>
                                <span class="max">100</span>
                            </div>
                            <div class="track">
                                <div class="value" th:text="*{sex_ratio}"></div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    주요 거주 연령층
                    <div class="radio_container">
                        <div class="toggle-radio">
                            <input type="radio" id="info3" name="age-type" value="child" th:checked="${#strings.equals(rq.age_type, 'child')}">
                            <label for="info3">유아 및 청소년</label>

                            <input type="radio" id="info4" name="age-type" value="s2030" th:checked="${#strings.equals(rq.age_type, 's2030')}">
                            <label for="info4">20대 및 30대</label>

                            <input type="radio" id="info5" name="age-type" value="s4050" th:checked="${#strings.equals(rq.age_type, 's4050')}">
                            <label for="info5">40대 및 50대</label>

                            <input type="radio" id="info6" name="age-type" value="elder" th:checked="${#strings.equals(rq.age_type, 'elder')}">
                            <label for="info6">60대 이상</label>
                        </div>
                    </div>
                </div>
                <div class="requirements" id="find_btn">
                    <input class="button" type="submit" value="찾기"/>
                </div>
                <br>
                <script type="text/javascript">
                    sliderStart();
                </script>
            </form>
        </div>
    </div>
    <div class="copyright">
        Copyright © by FindMyself 2021, Inc. All rights reserved
    </div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    var isLoad = /*[[ ${isLoad} ]]*/;
    var id = /*[[ ${session.id} ]]*/;
    /*]]*/
    //로그인 or 로그아웃 버튼 글자 바꾸기
    if(id != null){
        document.getElementById("login-btn-text").innerText = "로그아웃";
    }
    if(isLoad != null){
        $("#cluster-map").show();
    }else{
        $("#cluster-map").hide();
    }

    loadTopList();  //매칭률 top5 리스트 로드
    /*<![CDATA[*/
    var topInfoList = /*[[ ${topInfoList} ]]*/;
    /*]]*/
    function loadTopList(){ //매칭률 top5 리스트 로드
        if(topInfoList != null) {
            document.getElementById("top_wrap").style.display="block";
            document.getElementById("top1").innerText = topInfoList[0].gu+" "+topInfoList[0].h_dong;
            document.getElementById("top2").innerText = topInfoList[1].gu+" "+topInfoList[1].h_dong;
            document.getElementById("top3").innerText = topInfoList[2].gu+" "+topInfoList[2].h_dong;
            document.getElementById("top4").innerText = topInfoList[3].gu+" "+topInfoList[3].h_dong;
            document.getElementById("top5").innerText = topInfoList[4].gu+" "+topInfoList[4].h_dong;
        }else{// 처음에 순위부분 숨기기
            document.getElementById("top_wrap").style.visibility="hidden";
        }
    }

    var click_cnt = 1;
    function click_detail_btn(){    //편의시설 상세 설정 부분 펼치기,숨기기
        if(click_cnt%2 == 1) { //숨긴 상태 -> 펼치기
            document.getElementById("convenient_detail").style.display="block";
            document.getElementById("detail_btn_img").src = "/image/close.png";
        }else{ // 펼친 상태 -> 숨기기
            document.getElementById("convenient_detail").style.display="none";
            document.getElementById("detail_btn_img").src = "/image/open.png";
        }
        click_cnt++;
    }

    function home_clustering(cluster_charter,cluster_monthly,userId,address){
        var chk_home = document.getElementsByName('home-type');
        var home_type;
        for(var i=0; i<chk_home.length; i++){
            if(chk_home[i].checked ==true){
                home_type = chk_home[i].value;
            }
        }
        console.log("home_type: "+home_type);
        if(home_type == "charter"){
            Clustering_HangJungDong(0,cluster_charter,userId,address);
        }else{
            Clustering_HangJungDong(1,cluster_monthly,userId,address);
        }
    }
</script>
</html>