<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head/>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>FindMyself 메인</title>
    <script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=b7fc83b99b816527f18b3bf2bce8208e&libraries=services"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="/js/map.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script> <!--다음 도로명 주소 api -->
    <script type="text/javascript" src="/js/requirements.js"></script>
</head>
<body>
    <div class="header">
        <div class="logo-wrap">
            <a th:href="@{/}">
                <img src="/image/logo.png">
            </a>
        </div>
    </div>
    <div class="container">
        <form action="/mapAnalysis" method="post" name="find_hcode">
            <input type="text" name="hdong" value="">
            <input type="text" name="hcode" value="">
            <input type="button" name="hcode_submit" value="확인용" onclick=find_hcode.submit();>
        </form>
        <div class="map_wrap">
            <div id="map" style="width:100%;height:700px;position:relative;overflow:hidden; border-radius: 10px">
                <script>
                    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                        mapOption = {
                            center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
                            level: 9 // 지도의 확대 레벨
                        };

                    var map = new kakao.maps.Map(mapContainer, mapOption),
                        customOverlay = new kakao.maps.CustomOverlay({});

                    // 서울 전체 지도
                    DrawPolygon();

                    // 특정 행정동 강조하기
                    Draw_HangJungDong(1141058500);
                    Draw_HangJungDong(1111057000);
                    Draw_HangJungDong(1114055000);
                </script>
            </div>
        </div>
        <div class="choice_wrap">
            <!--<form name="chice_form" action="/find.do" th:object="${requirements}" method="post"  onsubmit="return checkRemain()">-->
            <form name="chice_form" action="/find.do" th:object="${requirements}" method="post">
                <div class="requirements" id="budget">
                    <p>예산</p>
                    <label><input type="radio" name="home-type" value="charter">전세</label>
                    <label><input type="radio" name="home-type" value="monthly">월세</label><br><br>
                    보증금 <br>
                    <input type="range" value="50", min="0" max="10000" step="100" list="mark1" th:field="*{deposit}"
                           oninput="document.getElementById('deposit_value').value=this.value;" style="width:75%; ">
                    <datalist id="mark1">
                        <option value="0"></option>
                        <option value="5000">5천만원</option>
                        <option value="10000">1억 이상</option>
                    </datalist>
                    <input id="deposit_value" type="text">만원<br><br>
                    월세  <br>
                    <input type="range" value="50", min="0" max="700" step="10" list="mark2" th:field="*{monthly}"
                           oninput="document.getElementById('monthly_value').value=this.value;"style="width:75%;">
                    <datalist id="mark2">
                        <option value="0"></option>
                        <option value="350">350만원</option>
                        <option value="700">700만원</option>
                    </datalist>
                    <input id="monthly_value" type="text">만원
                </div>
                <div class="requirements" id="traffic">
                    <p>교통</p>
                    학교/직장 <input id="school_company" type="text"/>
                    <input type="button" value="찾기" onclick="findAddress()"><br><br>
                    <input type="range" value="50", min="0" max="100" th:field="*{traffic}" style="width:75%;">
                    <input type="hidden" name="traffic_value">

                </div>
                <div class="requirements" id="convenient">
                    <p>편의시설</p>
                    <input type="range" value="50", min="0" max="100" th:field="*{convenient}" style="width:75%;">
                    <input type="button" value="더보기">
                    <input type="hidden" name="convenient_value">
                </div>
                <div class="requirements" id="safety">
                    <p>안전</p>
                    <input type="range" value="50", min="0" max="100" th:field="*{safety}" style="width:75%;">
                    <input type="hidden" name="safety_value">
                </div>
                <div class="requirements" id="environment">
                    <p>주변환경</p>
                    여 <input type="range" value="50", min="0" max="100" th:field="*{sex_ratio}" style="width:75%;"> 남<br>
                    <input type="hidden" name="sex_value">
                    <label><input type="radio" name="age-type" value="child">유아 및 청소년</label>
                    <label><input type="radio" name="age-type" value="2030s">20대 및 30대</label><br>
                    <label><input type="radio" name="age-type" value="4050s">40대 및 50대</label>
                    <label><input type="radio" name="age-type" value="elder">60대 이상</label>
                </div>
                <div class="requirements" id="find_btn">
                    <input type="submit" value="찾기"/>
                </div>
            </form>
        </div>
    </div>
    <footer>
        <div class="copyright">
            Copyright © by FindMyself 2021, Inc. All rights reserved
        </div>
    </footer>
</body>
</html>