<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>도로명 주소 좌표로 변환(미해결)</title>
    <style type="text/css">
        .box {
            width: 400px;
            height: AUTO;
            border: 1px solid green;
            border-radius: 5px;
            padding: 15px;
            margin: 15px;
            overflow-y: scroll;
        }
    </style>
    <script>
        function searchPlaceAJAX() {
            var placeName = document.getElementById('placeName').value;
            var xhr = new XMLHttpRequest();
            var url = "http://api.vworld.kr/req/address?service=address&request=getcoord&version=2.0&crs=epsg:4326&address=" + placeName + "&refine=true&simple=false&format=json&type=road&key=1C33CA7E-B97A-348B-906E-BDB199D9D0F6";
            xhr.open("GET", url, true);
            xhr.send();
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var resultObj = JSON.parse(xhr.responseText);
                    console.log(resultObj.result);
                    var resultArr = resultObj["response"]["result"];
                    console.log(resultArr);

                    var str = "";
                    str += "<div class='box'>";
                    str += "<p>경위도 x좌표 : " + resultArr.point.x + "</p>";
                    str += "<p>경위도 y좌표 : " + resultArr.point.y + "</p>";
                    str += "</div>";

                    document.getElementById("resultDiv").innerHTML = str;
                }
            }
        }
    </script>
</head>
<body>
<div>
    <input type="text" id="placeName" th:value="${placeName}">
    <button onclick="searchSubwayStationAJAX();">click</button>
</div>
<div id="resultDiv">
</div>
</body>
</html>