<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>길찾기 경로 검색하기</title>
    <style type="text/css">
        .box {
            width: 400px;
            height: AUTO;
            border: 1px solid green;
            border-radius: 5px;
            padding: 15px;
            margin: 15px;
            overflow-y: scroll;
        }
    </style>
    <script>
        function searchSubwayStationAJAX() {
            var pathType = document.getElementById('pathType').value;
            var xhr = new XMLHttpRequest();
            var url = "https://api.odsay.com/v1/api/searchPubTransPathT?apiKey=VYYJtQrZq5ere3U%2BvOoPhLmqgvRTrFzcpLKrRaKvpcQ&lang=0&SX=126.93737555322481&SY=37.55525165729346&EX=126.88265238619182&EY=37.481440035175375&SearchPathType=" + pathType;
            xhr.open("GET", url, true);
            xhr.send();
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var resultObj = JSON.parse(xhr.responseText);
                    console.log(resultObj.result);
                    var resultArr = resultObj["result"]["path"];
                    console.log(resultArr);

                    var str = "";
                    str += "<div class='box'>";
                    for (var i = 0; i < resultArr.length; i++) {
                        if(resultArr[0].subPath[i].trafficType == 1) {
                            for(var j = 0; j < resultArr[0].subPath[i].passStopList.stations.length; j++)
                            str += "<p>역이름 : " + resultArr[0].subPath[i].passStopList.stations[j].stationName + "</p>";
                        }
                    }
                    str += "</div>";

                    document.getElementById("resultDiv").innerHTML = str;
                }
            }
        }
    </script>
</head>
<body>
<div>
    <input type="text" id="pathType"> // 1 입력 (지하철 경로)
    <button onclick="searchSubwayStationAJAX();">click</button>
</div>
<div id="resultDiv">
</div>
</body>
</html>